.billingContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.billingBox{
    height: 80vh;
    overflow: hidden;
    background-color: #003566;
    box-sizing: border-box;
    width: 30rem;
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 10px;
    align-items:center;
}

.billingHead{
    text-align: center;
    font: 500 1.2rem Lato;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
    margin: auto;
}

.billingInfo{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    height: 80%;
    transition: all 0.5s;
}

.billingInfo div{
    width: 100%;
    display: flex;
    align-items:center;
}

.billingInfo div input, .billingInfo div select{
    width: 100%;
    padding: 1rem 3rem;
    padding-right: 1rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 1rem Lato;
    outline: none;
    color:black;
}

.billingInfo div input::placeholder, .billingInfo div select::placeholder{
    color:rgba(0, 0, 0, 0.568);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.billingInfo div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.billingBtn{
    border: none;
    background-color:#0171da;
    color: white;
    font: 300 1rem Phudu;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}
.billingBtn:hover{
    background-color:#1c88ed;
}

@media screen and (max-width: 600px) {
    .billingBox{
        width: 90%;
    }
}