.cartContainer{
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
}

.cartContainerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 74%;
    padding: 1rem 0 10rem 0;
}

.cartContainerBox-active, .emptyCartContainer-active{
    margin-top: 5rem;
}

.cartHead h1{
    font: 500 3rem Lato;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 3rem;
}

.cartContents{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.cartItems{
    width: 70%;
}

.cartSummary{
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.cartSummaryHead h1{
    color:white;
    font: 500 2rem Phudu;
    padding-bottom: 2.5rem;
}

.cartSummaryItem, .cartSummaryTotal{
    display: flex;
    justify-content: space-between;
}

.cartSummaryTotal{ 
    border-top: 0.1rem solid rgba(255, 255, 255, 0.397);
}

.cartSummaryItem p{
    color: white;
    font: 500 0.8rem Lato;
    padding-bottom: 1.1rem;
}
.cartSummaryTotal p{
    color: white;
    font: 700 1rem Lato;
    padding: 1.5rem 0;
}

.cartSummaryButton{
    background-color:#0171da;
    width: 100%;
    text-align: center;
    text-decoration: None;
    color:white;
    padding: 1.1rem;
    border-radius:5px;
    font: 500 1rem Phudu;
    border:none;
    transition: all 0.3s;
}
.cartSummaryButton:hover{
    background-color:#1c88ed;
}

.emptyCartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding-top: 5rem;
}

.emptyCartContainer div{
    width: 20rem;
}
.emptyCartContainer div img{
    width: 100%;
    height: 100%;
}

.emptyCartContainer svg{
    color:rgba(255, 255, 255, 0.829);
    font-size: 4rem;
}
.emptyCartContainer h1{
    color: rgba(255, 255, 255, 0.829);
    font: 300 2.5rem Raleway;
    padding: .5rem 0;
}
.emptyCartContainer a{
    color:rgba(255, 255, 255, 0.589);
    font: 300 1.2rem Raleway;
}

@media screen and (max-width:1024px) {
    .cartContainerBox{
        width: 90%;
    }
    .cartContents{
        flex-direction: column;
    }
    .cartItems{
        width: 100%;
    }
    .cartSummary{
        width: 100%;
    }
}