.confirmOrderContainer{
    width: 100%;
    height: 100%;
    background-color:rgb(75, 1, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.confirmOrderBox{
    min-height: 65vh;
    width: 74%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0;
}

.confirmOrderBox-l{
    width: 70%;
}
.confirmOrderBox-r{
    width: 300px;
}

.confirmOrderSummary{
    width: 300px;
    display: flex;
    flex-direction: column;
    
}

.confirmOrderSummaryHead h1{
    color:white;
    font: 500 2rem roboto;
    padding-bottom: 2.5rem;
}

.confirmOrderSummaryItem, .confirmOrderSummaryTotal{
    display: flex;
    justify-content: space-between;
}

.confirmOrderSummaryTotal{ 
    border-top: 0.1rem solid rgba(255, 255, 255, 0.397);
}

.confirmOrderSummaryItem p{
    color: white;
    font: 500 0.8rem roboto;
    padding-bottom: 1.1rem;
}
.confirmOrderSummaryTotal p{
    color: white;
    font: 700 1rem roboto;
    padding: 1.5rem 0;
}

.confirmOrderSummaryButton{
    background-color:rgb(35, 0, 104);
    width: 100%;
    text-align: center;
    text-decoration: None;
    color:white;
    padding: 1.1rem;
    border-radius:5px;
    font: 500 1rem roboto;
}