.orderSuccessContainer{
    width: 100%;
    height: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 1rem;
}

.orderSuccessContainer svg{
    font-size: 3rem;
}
.orderSuccessContainer h1{
    font:400 2.5rem Lato;
}
.orderSuccessContainer a{
    font: 400 1.5rem Lato;
    text-decoration: none;
    color:white;
    background-color: #003566;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 2rem 0;
    padding: 1rem;
}

@media screen and (max-width:750px) {
    .orderSuccessContainer svg{
        font-size: 2.5rem;
    }
    .orderSuccessContainer h1{
        font-size: 1.6rem;
    }
    .orderSuccessContainer a{
        font-size: 1rem;
    }
}

@media screen and (max-width:500px) {
    .orderSuccessContainer svg{
        font-size: 2.2rem;
    }
    .orderSuccessContainer h1{
        font-size: 1.1rem;
    }
    .orderSuccessContainer a{
        font-size: 0.7rem;
    }
}