.homeContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
}

.homeCarouselBox{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 74%;
    padding: 3vmax 0;
}

.homeCarouselBox-active{
    margin-top: 5rem;
}

.homeCarouselSlider-1{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.homeCarouselSlider-2{
    width: 20%;
    margin: auto;
}

.homeCarouselSlider-1 .slick-arrow.slick-prev,
.homeCarouselSlider-1 .slick-arrow.slick-next {
  width: calc(16px + 8 * (100vw - 320px) / 1080);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 0 5px;
  transition: all 0.5s;
}
.homeCarouselSlider-1 .slick-prev {
  left: 0;
  transition: all 0.5s;
  opacity: 0;
}
.homeCarouselSlider-1 .slick-next {
    opacity: 0;
  right: 0;
  transition: all 0.5s;
}

.homeCarouselSlider-1:hover .slick-prev{
    opacity: 1;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    transition: all 0.5s;
    border-radius: 10px 0 0 10px;

}
.homeCarouselSlider-1:hover .slick-next{
    opacity: 1;
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    transition: all 0.5s;
    border-radius: 0 10px 10px 0;
}


.homeCarouselSlider-2 .slick-current{
    background-color:rgba(24, 0, 69, 0.329);
    padding: 0 2px;
    border-radius: 10px;
}

.multi-carousel div{
    color: white;
}


.homeBrowseByCategory{
    width: 100%;
    padding: 5% 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background:rgb(48, 0, 143);
}

.homeBrowseCarousel{
    width: 74%;
}

.homeBrowseHeading{
    width: 74%;
    padding: 1rem 0;
}

.homeBrowseHeading h1{
    color:white;
    font-size:calc(16px + 8 * (100vw - 320px) / 1080);
}

.homeRecommendationSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 0;
    color: white;
    background-color: rgb(24, 0, 69);
}

.homeRecommendationSection h1{
    margin: 10px 0;
    font:700 2rem Raleway;
}

.homeRecommendationSection p{
    margin: 10px 0;
    color: rgb(173, 173, 173);
    font: 400 1.1rem Raleway; 
}
.homeRecommendationSection .btn{
    padding: 10px;
    text-decoration: none;
    color:white;
    background:rgb(78, 1, 244);
    font: 400 1.1rem Raleway;     
    border-radius:10px;
}
.homeRecommendationSection .btn:hover{
    background-color:rgb(98, 25, 255);
    transition: all 0.5s;
}

.homeRecommendationSection p a{
    text-decoration: none;
    color: white;
    font: 400 1.1rem Raleway;
}

.homeRecommendationSection-active{
    display: none;
}


@media screen and (max-width:1024px) {
    .homeCarouselBox{
        width: 90%;
    }
}


@media screen and (max-width:900px) {
    .homeRecommendationSection h1{
        margin: 10px 0;
        font:700 1.6rem Raleway;
    }
    
    .homeRecommendationSection p{
        margin: 10px 0;
        color: rgb(173, 173, 173);
        font: 400 0.9rem Raleway;
    }
    .homeRecommendationSection .btn{
        padding: 10px;
        text-decoration: none;
        color:white;
        background:rgb(78, 1, 244);
        font: 400 0.9rem Raleway;
        border-radius:10px;
    }
    
    .homeRecommendationSection p a{
        text-decoration: none;
        color: white;
        font: 400 0.9rem Raleway;
    }
    
    .homeRecommendationSection-active{
        display: none;
    }
}

@media screen and (max-width:850px) {
    .homeCarouselBox .homeCarouselSlider-2{
        display: none;
    }
    .homeCarouselSlider-1{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    
    .homeRecommendationSection h1{
        margin: 8px 0;
        font:700 1.2rem Raleway;
    }
    
    .homeRecommendationSection p{
        margin: 7px 0;
        color: rgb(173, 173, 173);
        font: 400 0.7rem Raleway;
    }
    .homeRecommendationSection .btn{
        padding: 10px;
        text-decoration: none;
        color:white;
        background:rgb(78, 1, 244);
        font: 400 0.7rem Raleway;
        border-radius:10px;
        margin: 5px 0;
    }
    
    .homeRecommendationSection p a{
        text-decoration: none;
        color: white;
        font: 400 0.7rem Raleway;
    }
    
    .homeRecommendationSection-active{
        display: none;
    }
}