.recommendationProductCard {
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.808);
    margin: 0.5rem;
    background-color:#003566;
    border-radius:5px;
  }
  
  .recommendationProductCard img {
    width: 100%;
    object-fit: contain;
  }
  
  .recommendationProductCard p {
    font-family: Lato;
    font-size: 1rem;
    margin: 1rem 0.5rem;
    margin-bottom: 0;
  }
  
  .recommendationProductCard span {
    margin: 0.5rem;
    color: #1c88ed;
    font-family: Lato;
    font-size: 1rem;
  }

  .recommendationProductCard .recommendationPrice-d{
    color:rgba(255, 255, 255, 0.658);
    text-decoration: line-through;
    font: 300 0.8rem Lato;
    margin: 0.1rem 0.5rem;
  }
  .recommendationProduct .recommendationDiscountedPrice{
    color:rgb(168, 241, 94);
    background-color:green;
    width: fit-content;
    padding: 0.3rem;
    font: 300 .8rem Lato;
    margin: 0.1rem 0.5rem;
  }
