.slide1{
    width: 100%;
    height: calc((100vw - 110px) * .37);
    position: relative;
    border-radius:10px;
    transition: all 0.2s;
    border-radius:10px;
}

.slide1-img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:10px;
}
.slide1-btn{
    cursor: pointer;
    position:absolute;
    bottom: 10%;
    left: 6%;
    text-decoration: none;
    color:black;
    padding: 1rem;
    background-color: white;
    font:500 1rem Phudu;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: none;
}
.slide1-btn:hover{
    color:white;
    background-color:#003566;
    transition: all 0.5s;
}

@media screen and (max-width:1024px){
    .slide1{
        height: calc((100vw - 110px) * .46);
    }
}

@media screen and (max-width:850px){
    .slide1{
        height: calc((100vw - 110px) * .63);
    }
}

@media screen and (max-width:600px){
    .slide1{
        height: calc((100vw - 110px) * .65);
    }
    .slide1-btn{
        font:500 0.8rem Phudu;
    }
}

@media screen and (max-width:400px){
    .slide1{
        height: calc((100vw - 110px) * .75);
    }
    .slide1-btn{
        font:500 0.6rem Phudu;
    }
}