.forgotPasswordContainer{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.forgotPasswordContent{
    width: 60%;
    display: flex;
}

.forgotPasswordContent-1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.forgotPasswordContent-1-1{
    width: 100%;
    height: 90%;
    background-color:rgb(38, 0, 114);
}

.forgotPasswordContent-2{
    width: 60%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.forgotPasswordBox{
    background-color:#fff;
    width: 70%;
    height: 70vh;
    box-sizing:border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.forgotPasswordBox h1{
    font: 400 2rem black;
    padding: 1rem;
    border-bottom: 1px solid rgba(87, 87, 87, 0.651);
}

.forgotPasswordForm{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    padding: 2vmax;
    transition: 0.5s all;
}

.forgotPasswordForm div{
    width: 100%;
    display: flex;
    align-items:center;
}

.forgotPasswordForm div input{
    width: 100%;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
}

.forgotPasswordForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.forgotPasswordBtn{
    border: none;
    background-color:rgb(76, 0, 144);
    color: white;
    font: 300 1rem "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.forgotPasswordBtn:hover{
    background-color:rgb(102, 2, 190);
}

@media screen and (max-width:600px) {
    .forgotPasswordContent{
        width: 100%;
    }
    
    .forgotPasswordContent-1{
        display: none;
    }

    .forgotPasswordContent-2{
        width: 100%;
        background-color:rgb(75, 1, 224);
        padding: 10px 0;
    }

    .forgotPasswordBox{
        width: 90vw;
        height: 70vh;
    }
    .forgotPasswordForm{
        padding: 5vmax;
    }
    .forgotPasswordForm div input{
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
    .forgotPasswordForm div svg{
        font-size: 2.8vmax;
    }
    .forgotPasswordForm a{
        font: 500 1.8vmax "Gill Sans";
    }

    .forgotPasswordBtn{
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
    
}