.loginSignUpContainer{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpContent{
    width: 60%;
    display: flex;
}

.loginSignUpContent-1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpContent-1-1{
    width: 100%;
    height: 90%;
    background-color:#003566;
}

.loginSignUpContent-2{
    width: 60%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpBox{
    background-color:#fff;
    width: 70%;
    height: 70vh;
    box-sizing:border-box;
    overflow: hidden;
}

.loginSignUpToggle{
    display: flex;
    margin-top: 3vmax;
    height: 3vmax;
}

.loginSignUpToggle p{
    color:rgba(0,0,0,0.678);
    font:300 1.3rem Lato;
    transition: all 0.5s;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.loginSignUpBox div button{
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;
    background-color: #001D3D;
}

#registerImage input {
    display: flex;
    padding: 0;
}
#registerImage input::file-selector-button{
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 1rem cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color:rgba(0,0,0,0.623);
    background:white;
}
#registerImage input::file-selector-button:hover{
    background:rgb(219, 219, 219);
}

#registerImage > img {
    width: 3vmax;
    border-radius: 100%;
  }

.loginForm, .signUpForm{
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    padding: 2vmax;
    transition: 0.5s all;
}

.signUpForm{
    transform: translateY(-100%) translateX(100vmax); 
}

.loginForm div, .signUpForm div{
    width: 100%;
    display: flex;
    align-items:center;
}

.loginForm div input, .signUpForm div input{
    width: 100%;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
}

.loginForm div svg, .signUpForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.loginForm a{
    color: rgba(0,0,0,0.651);
    text-decoration: none;
    align-self:flex-end;
    transition: all 0.5s;
    font: 500 0.9rem Lato;
}

.loginForm a:hover{
    color: #000;
}

.loginBtn,.signUpBtn{
    border: none;
    background-color: #001d3d;
    color: white;
    font: 300 1.1rem Phudu;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.3s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.loginBtn:hover, .signUpBtn:hover{
    background-color: #003566;
}

.shiftToLeft{
    transform: translateX(-100%);
}
.shiftToNeutral{
    transform: translateX(0%);
}
.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight{
    transform: translateX(100%);
}

@media screen and (max-width:1145px){
    .loginSignUpContent{
        width: 70%;
        transition: all 0.5s;
    }
}


@media screen and (max-width:870px) {

    .loginSignUpContent{
        width: 80%;
        transition: all 0.5s;
    }
    .forgotPasswordBox{
        height: 60vh;
        transition: all 0.5s;
    }
}

@media screen and (max-width:600px) {
    .loginSignUpContent{
        width: 100%;
    }
    
    .loginSignUpContent-1{
        display: none;
    }

    .loginSignUpContent-2{
        width: 100%;
        padding: 10px 0;
    }

    .loginSignUpBox{
        width: 90vw;
        height: 70vh;
    }
    .loginSignUpToggle{
        height: 5vmax;
    }
    .loginSignUpToggle p{
        font: 300 1rem Lato;
    }
    .loginForm, .signUpForm{
        padding: 5vmax;
    }
    .loginForm div input, .signUpForm div input{
        padding: 1rem 5vmax;
        font: 300 0.8rem cursive;
    }
    .loginForm div svg, .signUpForm div svg{
        font-size: 2.8vmax;
    }
    .loginForm a{
        font: 500 1.8vmax Lato;
    }
    
    #registerImage input::file-selector-button{
        height: 7vh;
        font: 400 1.8vmax cursive;
    }

    .loginBtn, .signUpBtn{
        font: 300 1.9vmax Phudu;
        padding: 1.8vmax;
    }
    #registerImage > img {
        width: 8vmax;
        border-radius: 100%;
      }
}