.loginSignUpContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpContent{
    width: 55rem;
    display: flex;
    justify-content: center;
}

.loginSignUpContent-1{
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpContent-1-1{
    width: 100%;
    height: 90%;
    background-color:#003566;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}

.loginSignUpContent-1-1 img{
    width: 107.6%;
    height: 110vh;
    position: absolute;
    opacity: 0.3;
    transform: translateX(-1.85rem) translateY(-3.5rem);
}

.loginSignUpLeft-1{
    z-index: 1;
}

.loginSignUpLeft-1 a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.795);
    font: 300 1rem Montserrat;
}

.loginSignUpLeft-2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:white;
    text-align: center;
    z-index: 1;
}

.loginSignUpLeft-2 h3{
    font: 300 0.8rem Montserrat;
    color:rgba(255, 255, 255, 0.856);
    animation: slideLeftInAbout 0.5s ease-in-out forwards;
    opacity: 0;
}
.loginSignUpLeft-2 h1{
    font: bold 1.5rem Montserrat;
    padding: 0 0 0.5rem 0;
    animation: slideLeftInAbout 0.5s 0.2s ease-in-out forwards;
    opacity: 0;
}

.loginSignUpLeft-2 p{
    color:rgba(255, 255, 255, 0.856);
    font: 300 0.7rem Montserrat;
    padding: 1rem 0;
    letter-spacing: 1px;
    animation: slideLeftInAbout 0.5s 0.4s ease-in-out forwards;
    opacity: 0;
}

.loginSignUpUnderline{
    border:none;
    width: 10%;
    border-radius: 25px;
    height:3px;
    background:white;
    animation: slideLeftInAbout 0.5s 0.2s ease-in-out forwards;
    opacity: 0;
}

.loginSignUpContent-2{
    width: 28rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loginSignUpBox{
    background-color:#fff;
    width: 25rem;
    height: 65vh;
    box-sizing:border-box;
    overflow: hidden;
}

.loginSignUpToggle{
    display: flex;
    margin-top: 2.5rem;
    height: 2.5rem;
}

.loginSignUpToggle p{
    color:rgba(0,0,0,0.678);
    font:300 1.3rem Lato;
    transition: all 0.5s;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.loginSignUpBox div button{
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;
    background-color: #001D3D;
}

#registerImage input {
    display: flex;
    padding: 0;
}
#registerImage input::file-selector-button{
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 1rem cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color:rgba(0,0,0,0.623);
    background:white;
}
#registerImage input::file-selector-button:hover{
    background:rgb(219, 219, 219);
}

#registerImage > img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

.loginForm, .signUpForm{
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    padding: 2vmax;
    transition: 0.5s all;
}

.signUpForm{
    transform: translateY(-100%) translateX(100vmax); 
}

.loginForm div, .signUpForm div{
    width: 100%;
    display: flex;
    align-items:center;
}

.loginForm div input, .signUpForm div input{
    width: 100%;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
}

.loginForm div svg, .signUpForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.loginForm a{
    color: rgba(0,0,0,0.651);
    text-decoration: none;
    align-self:flex-end;
    transition: all 0.5s;
    font: 500 0.9rem Lato;
}

.loginForm a:hover{
    color: #000;
}

.loginBtn,.signUpBtn{
    border: none;
    background-color: #001d3d;
    color: white;
    font: 300 1.1rem Phudu;
    width: 100%;
    padding: .9rem;
    cursor: pointer;
    transition: all 0.3s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.loginBtn:hover, .signUpBtn:hover{
    background-color: #003566;
}

.shiftToLeft{
    transform: translateX(-100%);
}
.shiftToNeutral{
    transform: translateX(0%);
}
.shiftToNeutralForm{
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight{
    transform: translateX(100%);
}

@media screen and (max-width:1244px){
    .loginSignUpContent{
        width: 50rem;
        transition: all 0.5s;
    }
}


@media screen and (max-width:870px) {

    .loginSignUpContent{
        width: 40rem;
    }

    .loginSignUpContent-1{
        width: 18rem;
    }
    .loginSignUpContent-2{
        width: 22rem;
    }

    .loginSignUpBox{
        width: 20rem;
        height: 55vh !important;
    }
    
    .loginSignUpContent-1-1 img{
        width: 107.6%;
        height: 95vh;
        position: absolute;
        opacity: 0.3;
        transform: translateX(-1.7rem) translateY(-3.5rem);
    }
}

@media screen and (max-width:680px) {

    .loginSignUpContent{
        width: 36rem;
    }

    .loginSignUpContent-1{
        width: 15rem;
    }
    .loginSignUpContent-2{
        width: 20rem;
    }

    .loginSignUpBox{
        width: 18rem;
        height: 50vh !important;
    }
    .loginSignUpLeft-2 h3{
        font-size: 0.7rem;
    }
    .loginSignUpLeft-2 h1{
        font-size: 1.2rem;
    }
    
    .loginSignUpLeft-2 p{
        font-size: 0.6rem;
    }
    .loginSignUpContent-1-1 img{
        width: 107.6%;
        height: 87vh;
        position: absolute;
        opacity: 0.3;
        transform: translateX(-1.6rem) translateY(-3.5rem);
    }
}


@media screen and (max-width:600px) {
    .loginSignUpContent{
        width: 100%;
    }
    
    .loginSignUpContent-1{
        display: none;
    }

    .loginSignUpContent-2{
        width: 26rem;
    }

    .loginSignUpBox{
        width: 25rem;
        height: 65vh !important; 
    }
    .loginSignUpToggle{
        height: 5vmax;
    }
    .loginSignUpToggle p{
        font: 300 1.2rem Lato;
    }
    .loginForm, .signUpForm{
        padding: 5vmax;
    }
    .loginForm div input, .signUpForm div input{
        padding: 1rem 5vmax;
        font: 300 0.8rem cursive;
    }
    .loginForm div svg, .signUpForm div svg{
        font-size: 2.8vmax;
    }
    .loginForm a{
        font: 500 1.8vmax Lato;
    }
    
    #registerImage input::file-selector-button{
        height: 7vh;
        font: 400 1.8vmax cursive;
    }

    .loginBtn, .signUpBtn{
        font: 300 1.9vmax Phudu;
        padding: 1.8vmax;
    }
    #registerImage > img {
        width: 8vmax;
        border-radius: 100%;
      }
}

@media screen and (max-width:480px) {
    .loginSignUpBox{
        width: 20rem;
    }
    .loginSignUpContent-2{
        width: 21rem;
    }
}