.profileContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.upperProfile{
    width: 80%;
    display: flex;
    align-items:center;
    gap: 1rem;
    height: 100%;
    padding: 2rem 0;
}

.lowerProfile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 80vh;
}

.upperProfile h1{
    color: rgba(255, 255, 255, 0.788);
    font:500 2.2vmax Montserrat;
}

.upperProfile img{
    width: 5vmax;
    border-radius: 100%;
    transition: all 0.5s;
}

.leftProfileContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.leftProfileContainer p{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font: 400 1.2vmax Lato;
    border-bottom: 1px solid #003566;
    padding: 2rem;
}

.leftProfileContainer p:hover{
    background:#003566;
    transition: all 0.3s;
}

.leftProfileContainer-active{
    background:#003566;
}


.rightProfileContainer{
    background:#003566;
    width: 80%;
    height: 100%;
}

.detailsContainer{
    display:flex;
    flex-direction: column;
    gap: 2vmax;
    align-items:flex-start;
    height: 100%;
    width: 100%;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
}

.detailsContainerHead, .rightProfileContainer div{
    width: 100%;
}

.rightProfileContainer .detailsContainerHead h1{
    font: 500 2rem Montserrat;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.rightProfileContainer div h1{
    color: rgba(255, 255, 255, 0.753);
    font: 400 1.7rem Lato;
}

.rightProfileContainer .detailsContainer div p{
    color: rgba(255, 255, 255, 0.808);
    font: 400 1rem Lato;
    padding: 1rem;
    background-color:#001D3D;
    border-radius:10px;
    margin: 0.5rem 0;
}

.rightProfileButtons{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightProfileButtons a{
    border:none;
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transform: all 0.5s;
    margin: 1vmax 0;
}

.rightContent-inactive{
    display: none !important;
}

.rightContent-active{
    display: block;
}

@media screen and (max-width: 600px){
    .profileContainer{
        flex-direction: column;
    }

    .rightProfileContainer{
        border-left:none;
        overflow: scroll;
        width: 100%;
    }

    .upperProfile a{
        font: 400 1.7vmax "Roboto";
        padding: 1vmax;
    }

    .rightProfileContainer div h1{
        font:400 2.5vmax "Roboto";
    }

    .rightProfileContainer div p{
        font: 400 2vmax cursive;
        margin: 0.5vmax 0;

    }
    .lowerProfile{
        flex-direction: column;
    }
    .leftProfileContainer{
        flex-direction: row;
        width: 100%;
    }
    .leftProfileContainer p{
        border-bottom:none;
    }
    
}