.profileContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(75, 1, 244);
}

.upperProfile{
    width: 100%;
    display: flex;
    align-items:center;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}

.lowerProfile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 80vh;
}

.upperProfile h1{
    color: rgba(255, 255, 255, 0.788);
    font:500 2.2vmax "Roboto";
}

.upperProfile img{
    width: 5vmax;
    border-radius: 100%;
    transition: all 0.5s;
}

.leftProfileContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.leftProfileContainer p{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font: 400 1.2vmax "Roboto";
    border-bottom: 1px solid rgb(126, 71, 255);
    padding: 2rem;
}

.leftProfileContainer p:hover{
    background:rgb(54, 0, 180);
    transition: all 0.3s;
}

.leftProfileContainer-active{
    background:rgb(54, 0, 180);
}


.rightProfileContainer{
    background:rgb(54, 0, 180);
    width: 80%;
    height: 100%;
}

.detailsContainer{
    display:flex;
    flex-direction: column;
    gap: 2vmax;
    align-items:flex-start;
    height: 100%;
    width: 100%;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
}

.detailsContainerHead, .rightProfileContainer div{
    width: 100%;
}

.rightProfileContainer .detailsContainerHead h1{
    font: 500 2rem Raleway;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.rightProfileContainer div h1{
    color: rgba(255, 255, 255, 0.753);
    font: 400 1.7rem "Roboto";
}

.rightProfileContainer div p{
    color: rgba(255, 255, 255, 0.808);
    font: 400 1rem cursive;
    padding: 1rem;
    background-color:rgba(29, 0, 88, 0.452);
    border-radius:10px;
    margin: 0.5rem 0;
}

.rightProfileButtons{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightProfileButtons a{
    border:none;
    background-color:rgb(49, 12, 122);
    font: 400 1vmax "Roboto";
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transform: all 0.5s;
    margin: 1vmax 0;
}

.rightContent-inactive{
    display: none;
}

.rightContent-active{
    display: block;
}

@media screen and (max-width: 600px){
    .profileContainer{
        flex-direction: column;
    }

    .rightProfileContainer{
        border-left:none;
        border-top: 1px solid rgb(49, 12, 122);
        overflow: scroll;
    }

    .upperProfile a{
        font: 400 1.7vmax "Roboto";
        padding: 1vmax;
    }

    .rightProfileContainer div h1{
        font:400 2.5vmax "Roboto";
    }

    .rightProfileContainer div p{
        font: 400 2vmax cursive;
        margin: 0.5vmax 0;

    }
}