.resetPasswordContainer{
    width: 100%;
    height: 95vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.resetPasswordContent{
    width: 60%;
    display: flex;
}

.resetPasswordContent-1{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.resetPasswordContent-1-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:center;
    position: relative;
}

.formsUnderline{
    display:block;
    border:none;
    height:1px;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0),rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
}

.resetPasswordContent-1 img{
    width: 40rem;
    position: absolute;
    transform: translateY(21%) translateX(20%);
    transition: 0.3s all;
}


.resetPasswordContent-2{
    width: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.resetPasswordBox{
    background-color:#fff;
    width: 70%;
    height: 65vh;
    box-sizing:border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.resetPasswordBox h1{
    font: 400 2rem Montserrat;
    padding: 1rem;
    border-bottom: 1px solid rgba(87, 87, 87, 0.651);
    z-index: 1;
}

.resetPasswordForm{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 3rem;
    transition: 0.5s all;
}

.resetPasswordForm div{
    width: 100%;
    display: flex;
    align-items:center;
}

.resetPasswordForm div input{
    width: 100%;
    padding: 1rem 3rem;
    padding-right: 1rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
    z-index: 1;
}

.resetPasswordForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.resetPasswordBtn{
    border: none;
    background-color: #001D3D;
    color: white;
    font: 300 1rem Phudu;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
    z-index: 1;
}

.resetPasswordBtn:hover{
    background-color:#003566;
}

@media screen and (max-width:1244px) {

    .resetPasswordContent-2 h1{
        font: 500 1.5rem Montserrat;
    }

    .resetPasswordContent-2{
        width: 60%;
    }

    .resetPasswordContent-1-1 h1{
        font: 500 1.2rem Montserrat;
    }
}

@media screen and (max-width:1145px){
    .resetPasswordContent-1 img{
        width: 30rem;
        position: absolute;
    }
    .resetPasswordContent{
        width: 70%;
        transition: all 0.5s;
    }
}


@media screen and (max-width:870px) {
    .resetPasswordContent-2{
        width: 70%;
    }
    .resetPasswordContent-2 h1{
        font-size: 1.5rem;
    }

    .resetPasswordContent-1-1 h1{
        font: 500 1rem Montserrat;
    }

    .resetPasswordContent{
        width: 80%;
        transition: all 0.5s;
    }
    .loginSignUpBox{
        height: 60vh;
        transition: all 0.5s;
    }
}

@media screen and (max-width:600px) {
    .resetPasswordContent{
        width: 100%;
    }
    
    .resetPasswordContent-1{
        display: none;
    }

    .resetPasswordContent-2{
        width: 100%;
        background-color:#001D3D;
        padding: 10px 0;
    }

    .resetPasswordBox{
        width: 90%;
        height: 70vh;
    }
    .resetPasswordForm{
        padding: 5vmax;
    }
    .resetPasswordForm div input{
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
    .resetPasswordForm div svg{
        font-size: 2.8vmax;
    }
    .resetPasswordForm a{
        font: 500 1.8vmax Lato;
    }

    .resetPasswordBtn{
        font: 300 1.9vmax Phudu;
        padding: 1.8vmax;
    }
    
}