.resetPasswordContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPasswordBox{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 70%;
    height: 70vh;
}

.resetPasswordBox h1{
    font: 500 2rem Montserrat;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.resetPasswordForm{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 1rem;
    padding: 1rem;
    transition: 0.5s all;
}

.resetPasswordForm div{
    width: 80%;
    display: flex;
    align-items:center;
}

.resetPasswordForm div input{
    width: 100%;
    padding: 1rem 2rem;
    padding-right: 1rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.9rem cursive;
    outline: none;
}

.resetPasswordForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1rem;
    color:rgba(0,0,0,0.623);
}

.resetPasswordBtn{
    border: none;
    background-color: #003566;
    color: white;
    font: 300 0.9rem Phudu;
    width: 80%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.resetPasswordBtn:hover{
    background-color: #0062b9;
}


@media screen and (max-width:1145px){
    .resetPasswordContent{
        width: 70%;
        transition: all 0.5s;
    }
}


@media screen and (max-width:870px) {

    .resetPasswordContent{
        width: 80%;
        transition: all 0.5s;
    }
    .forgotPasswordBox{
        height: 60vh;
        transition: all 0.5s;
    }
    .resetPasswordForm div, .resetPasswordForm input{
        width: 100%;
    }  
}

@media screen and (max-width:600px) {
    .resetPasswordForm{
        padding: 1rem 0;
    }  
    .resetPasswordContent{
        width: 100%;
    }
    
    .resetPasswordContent-1{
        display: none;
    }

    .resetPasswordContent-2{
        width: 100%;
        padding: 10px 0;
    }

    .resetPasswordBox{
        width: 90vw;
        height: 70vh;
    }

    .resetPasswordToggle p{
        font: 300 1rem Lato;
    }
    .resetPasswordForm div input{
        padding: 1rem 2rem;
        font: 300 0.8rem cursive;
    }
    .resetPasswordForm div svg{
        font-size: 1rem;
    }

    .resetPasswordBtn{
        font: 300 1rem Phudu;
        padding: 1rem;
    }
}