.updatePasswordBox{
    width: 100%;
    height: 100%;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
}

.updatePasswordBox .updatePasswordHead h1{
    font: 500 2rem Raleway;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.updatePasswordForm{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
    padding: 3rem 0;
    transition: 0.5s all;
}

.updatePasswordForm div{
    display: flex;
    align-items:center;
}

.updatePasswordForm div input{
    width: 100%;
    padding: 1rem 3rem;
    padding-right: 1rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.8rem cursive;
    outline: none;
}

.updatePasswordForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.updatePasswordBtn{
    border: none;
    background-color:rgb(28, 0, 104);
    color: white;
    font: 300 1rem Raleway;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.updatePasswordBtn:hover{
    background-color:rgb(102, 2, 190);
}

#updatePasswordImage input {
    display: flex;
    padding: 0;
}


