.updateProfileBox{
    width: 100%;
    height: 100%;
    padding: 1.5rem 4rem;
}

.updateProfileBox .updateProfileHead h1{
    font: 500 2rem Lato;
    color: rgba(255, 255, 255, 0.753);
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}

.updateProfileForm{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 2rem;
    padding: 3rem 0;
    transition: 0.5s all;
}

.updateProfileForm div{
    width: 100%;
    display: flex;
    align-items:center;
}

.updateProfileForm div input{
    width: 100%;
    padding: 1rem 3rem;
    padding-right: 1rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 4px;
    font: 300 0.8rem cursive;
    outline: none;
}

.updateProfileForm div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color:rgba(0,0,0,0.623);
}

.updateProfileBtn{
    border: none;
    background-color:#0171da;
    color: white;
    font: 300 1rem Phudu;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius:4px;
    outline: none;
    box-shadow:0 2px 5px rgba(0,0,0,0.219);
}

.updateProfileBtn:hover{
    background-color:#1c88ed;
}

#updateProfileImage input {
    display: flex;
    
    padding: 0;
}
#updateProfileImage input::file-selector-button{
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 6vh;
    border: none;
    margin: 0%;
    font: 400 1rem cursive;
    transition: all 0.5s;
    padding: 0 1rem;
    color:rgba(0,0,0,0.623);
    background:white;
}
#updateProfileImage input::file-selector-button:hover{
    background:rgba(255, 255, 255, 0.726);
}

#updateProfileImage > img {
    width: 3rem;
    border-radius: 100%;
  }