.card-container{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    height: 10rem;
    margin: 0 5px;
}

.card-img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-title{
    color: white;
    position: absolute;
    margin: auto;
    font:700 1.5rem Raleway;
    text-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
}
