.homeHeader{
    height: 5rem;
    width: 100%;
    background-color: #001D3D;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 99;
}

.activeHeader{
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
}

.headerContainer{
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.headerContainer svg{
    display: none;
    color:white;
}

.headerHead{
    display: flex;
    padding: 10px 10px 10px 0;
    font: 300 1.3rem Lato;
}

.headerItems{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex: 1;
}

.headerItem{
    padding: 10px;
    font: 300 1.1rem Lato;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.699);
}

.headerItem svg{
    display: none;
}

.headerItem:hover{
    color:white;
}

.searchBox div{
    width: 100%;
    display: flex;
    align-items:center;
}

.searchBox div svg{
    display: block;
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.3rem;
    color:rgba(0,0,0,0.623);
}

#closeInput{
    color:rgba(0,0,0,0.623);
    right: 7%;
    display: none;
}

.searchBox div input{
    width: 90%;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 50px;
    font: 100 0.9rem cursive;
    outline: none;
}

.rightHeaderItems{
    display: flex;
    gap: 1rem;
}

.rightHeaderItems svg {
    display: none;
    color:rgba(255, 255, 255, 0.699);
}

.rightHeaderItems svg:hover {
    color:rgba(255, 255, 255,1);
}

.cartItemIndicator{
    background:rgb(0, 127, 201);
    color:rgb(255, 255, 255);
    font: 500 1rem Lato;
    width: 1.5rem;
    height: 1.5rem;
    border-radius:50%;
    position: absolute;
    text-align: center;
    transform: translateX(-30%)translateY(-6%);
}

.leftHeaderItems{
    display: flex;
}

.headerDropBtn{
    display: none;
    font: 300 1.1rem Lato;
    color:rgba(255, 255, 255, 0.699);
    justify-content: center;
    align-items:center;
    gap: 0.5rem;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:6px solid white;
    transition: 0.3s;
    margin-top: 5px;
}

.caret-active{
    transform: rotate(180deg);
}

@media screen and (max-width:1024px) {
    .headerContainer svg{
        display: block;
    }
    .headerContainer{
        width: 90%;
        justify-content: space-between;
    }
    .rightHeaderItems .headerItem{
        display: none;
    }
    .rightHeaderItems svg {
        display: block;
    }
    .cartItemIndicator{
        width: 1rem;
        height: 1rem;
        transform: translateY(-190%)translateX(52%);
        font-size: 0.7rem;
    }
    .headerDropBtn{
        display: flex;
    }
    .leftHeaderItems{
        display: none;
        width: 100%;
        position: absolute;
        flex-direction: column;
        transform: translateY(95%);
        left: 0;
        align-items:center;
    }
    .headerItem{
        width: 90%;
        background-color: #00152b;
    }

    #closeInput{
        display: block;
    }
    .headerHead{
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        justify-content: center;
        padding:0;
    }
    .searchBox{
        width: 90%;
    }
    .searchBox div input{
        width: 100%;
        border-radius:0;
        padding: 1rem 1rem 1rem 3rem;
    }
    .searchBox div svg{
        color:rgba(255, 255, 255, 0.623);
    }
    .headerItems{
        flex: 0;
    }
}

@media screen and (max-width:600px) {
    .searchBox div input{
        padding: .7rem .7rem .7rem 3rem;
        font: 100 1rem cursive;
    }
    .headerItem{
        font: 300 1rem Lato;
    }
}

.headerToggle-active{
    display: flex;
}

.headerInput-Toggle{
    display: flex;
}