.homeHeader{
    height: 5rem;
    width: 100%;
    background-color: #001D3D;
    display: flex;
    align-items:center;
    justify-content: center;
    z-index: 99;
}

.activeHeader{
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s ease-in-out;
}

.headerContainer{
    width: 74%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.headerHead{
    padding: 10px 10px 10px 0;
    font: 300 1.3rem Lato;
}

.headerItems{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex: 1;
}

.headerItem{
    padding: 10px;
    font: 300 1.1rem Lato;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.699);
}

.headerItem svg{
    display: none;
}

.headerItem:hover{
    color:white;
}

.searchBox div{
    width: 100%;
    display: flex;
    align-items:center;
}

.searchBox div svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.3rem;
    color:rgba(0,0,0,0.623);
}

.searchBox div input{
    width: 90%;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    box-sizing:border-box;
    border: 1px solid rgba(0,0,0,0.267);
    border-radius: 50px;
    font: 100 0.9rem cursive;
    outline: none;
}

.rightHeaderItems{
    display: flex;
    gap: 1rem;
}

.rightHeaderItems svg {
    display: none;
    color:rgba(255, 255, 255, 0.699);
}

.rightHeaderItems svg:hover {
    color:rgba(255, 255, 255,1);
}

.cartItemIndicator{
    background:rgb(0, 127, 201);
    color:rgb(255, 255, 255);
    font: 500 1rem Lato;
    width: 1.5rem;
    height: 1.5rem;
    border-radius:50%;
    position: absolute;
    text-align: center;
    transform: translateX(-30%)translateY(-6%);
}

@media screen and (max-width:1024px) {
    .headerContainer{
        width: 90%;
    }
    .rightHeaderItems .headerItem{
        display: none;
    }

    .rightHeaderItems svg {
        display: block;
    }
    .cartItemIndicator{
        width: 1rem;
        height: 1rem;
        transform: translateY(-190%)translateX(70%);
        font-size: 0.7rem;
    }
}

@media screen and (max-width:600px) {
    .searchBox div input{
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        font: 100 0.6rem cursive;
        width: 100%;
    }
    .headerItem{
        font: 300 1rem Lato;
    }
}
