footer{
    width: 100%;
    background:rgb(20,18,26);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Phudu;
}

footer p{
    font-size: calc(16px + 3 * (100vw - 320px) / 1080);
}

.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.upper-footer div{
    flex: 1;
    padding: 0 10px;
}

.footer-links{
    display: flex;
    align-items: center;
}

.upper-footer h1{
    padding: 15px 0;
    font-size: calc(25px + 23 * (100vw - 320px) / 1080);
    font-family: Phudu;
}

.lower-footer{
    background:rgb(5, 5, 7);
    width: 100%;
    text-align: center;
    padding:10px;
    color:rgb(173, 173, 173);
}

@media screen and (max-width:900px){
    .upper-footer{
        font-size: 15px;
    }
    .upper-footer h1{
        padding: 15px 0;
    }
    
}