footer{
    width: 100%;
    background:#001020;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upper-footer{
    display: flex;
    padding: 10px;
}

.upper-footer div{
    flex: 1;
    padding: 0 10px;
}

.upper-footer div h1{
    font:600 3rem Phudu;
    margin-bottom: 10px;
}

.upper-footer div p{
    font:300 1rem Phudu;
    margin-bottom: 5px;
}

.upper-footer div p a{
    color:rgba(255, 255, 255, 0.418);
}

.upper-footer .footer-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.footer-links a svg{
    color:white;
    font-size: 1.5rem;
}


.lower-footer{
    background:#000814;
    width: 100%;
    text-align: center;
    padding:10px;
    font: 300 1rem Lato;
    color:rgba(255, 255, 255, 0.479);
}

@media screen and (max-width:1024px){
    .upper-footer div h1{
        font-size: 2.5rem;
    }
    .footer-links a svg{
        color:white;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:800px){
    .upper-footer div h1{
        font-size: 2rem;
    }

    .upper-footer div p{
        font-size: 0.8rem;
    }

    .footer-links a svg{
        color:white;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:630px){
    .upper-footer div h1{
        font-size: 1.5rem;
    }

    .upper-footer div p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:494px){
    .upper-footer div h1{
        font-size: 1.2rem;
    }

    .upper-footer div p{
        font-size: 0.6rem;
    }

    .footer-links a svg{
        color:white;
        font-size: 1rem;
    }
}