.newsCard{
    width: 100%;
    height: 12rem;
    background-color: #0035669f;
    margin-top: 1rem;
    display: flex;
    backdrop-filter: blur(10px);
    border-radius:10px
}

.newsCard-l{
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsCard-l img{
    width: 80%;
    height: 70%;
    border-radius:10px;
}

.newsCard-r{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.3rem;
    padding: 0 0.5rem;
}

.newsCard-r h1{
    font:bold 1.1rem Montserrat;
    color:white;
}
.newsCard-r h3{
    font:500 1rem Montserrat;
    color:white;
}
.newsCard-r p{
    font:300 1rem Montserrat;
    color:rgba(255, 255, 255, 0.637);
}

.newsCard-r a{
    text-decoration: none;
    color:white;
    text-align: end;
}
.newsCard-r a{
    text-decoration: none;
    color:white;
    padding-right: 1rem;
}   


@media screen and (max-width:850px){
    .newsCard-r{
        gap:0.5rem;
    }
    /* .newsCard-r h1{
        font:bold 1rem Montserrat;
        color:white;
    }
    .newsCard-r h3{
        font:500 1rem Lato;
        color:white;
    }
    .newsCard-r p{
        font:300 1rem Lato;
        color:rgba(255, 255, 255, 0.637);
    }
    .newsCard-r a svg{
        font-size:1.3rem ;
    } */
}

@media screen and (max-width:600px){

    .newsCard{
        height: 9rem;
    }

    .newsCard-l img{
        width: 70%;
        height: 50%;
    }

    .newsCard-r{
        gap:0.3rem;
    }
    .newsCard-r h1{
        font-size: 0.8rem;
    }
    .newsCard-r h3{
        font-size: 0.7rem;
    }
    .newsCard-r p{
        font-size: 0.7rem;
    }
}