.dashboardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.dashboardBox{
    width: 95%;
    display: flex;
    min-height: 90vh;
    margin: 2rem 0;
}

.dashboardContainerContent{
    width: 80%;
    background:#e9e9e9;
    border-radius:  0 15px 15px 0; 
}

.dashboardComponent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    margin-top: 1rem;
}

.dashboardHeading{
    width: 100%;
}

.dashboardAllHeadings{
    font: bold 2rem Montserrat;
    color: rgba(0, 0, 0, 0.842);
    padding-bottom: 0.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dashboardHeadingUnderline{
    display:block;
    border:none;
    height:1px;
    width: 100%;
    background-image: linear-gradient(to right, #001d3d, rgba(255, 255, 255, 0));
}

.dashboardContent-inactive{
    display: none !important;
}

.dashboardDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:1rem 0;
    gap: 1rem;
}

.dashboardSummaryBox{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    border-radius:10px;
}

.dashboardSummaryBox div{
    background-color:#ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgba(0, 0, 0, 0.73);
    transition: 0.3s;
    min-height: 10vh;
    border-radius:5px;
}

.dashboardSummaryBox div p:last-child{
    font: 600 1rem Montserrat;
    padding: 0 0.7rem;
    flex: 1;
    color:#003566;
}

.dashboardComponentDetails{
    display: flex;
    flex-direction:column;
    width: 100%;
}

.dashboardCompBtns{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboardCompBtns div{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.dashboardCompBtns div p{
    flex: 1;
    padding: 2rem;
    text-align: center;
    font: 300 1.1rem Lato;
    color:rgba(0, 0, 0, 0.774);
}

.dashboardCompBtns button{
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;
    background-color: #001D3D;
}

.charts{
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.lineChart {
    width: 65%;
    border-radius:10px;
    background:white;
}

.donutChart{
    width: 35%;
    border-radius:10px;
    background:white;
    display: flex;
    flex-direction: column;
}

.donutChart div{
    display: flex;
    justify-content: center;
    align-items:center;
    flex: 1;
}

.refundRequestSection{
    width: 100%;
    background:white;
    height: 5rem;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.refundRequestSection a{
    text-decoration: none;
}


@media screen and (max-width:950px) {
    .dashboardContainerContent{
        width: 90%;
    }
    .charts{
        flex-direction: column;
    }
    .lineChart {
        width: 100%;
    }
    .donutChart{
        width:100%;
    }
}

@media screen and (max-width:700px) {
    .dashboardBox{
        flex-direction: column;
    }
    .dashboardContainerContent{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .dashboardSummaryBox div p:last-child{
        text-align: center;
        flex: 1;
        padding-top: 1.8rem;
        color:#003566;
        font-size: 0.8rem;
    }
}