.dashboardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.dashboardBox{
    width: 95%;
    display: flex;
    min-height: 90vh;
    margin: 2rem 0;
}

.dashboardContainerContent{
    width: 80%;
    background:#ffffff;
    border-radius:  0 15px 15px 0; 
}

.dashboardComponent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1rem;
    margin-top: 1rem;
}

.dashboardHeading{
    width: 100%;
}

.dashboardAllHeadings{
    font: bold 2rem Montserrat;
    color: rgba(0, 0, 0, 0.842);
    padding-bottom: 0.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.dashboardHeadingUnderline{
    display:block;
    border:none;
    height:1px;
    width: 100%;
    background-image: linear-gradient(to right, #001d3d, rgba(255, 255, 255, 0));
}

.dashboardContent-inactive{
    display: none !important;
}

.dashboardDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:1rem 0;
    gap: 1rem;
}

.dashboardSummaryBox{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 5px 10px;
    background-color:#ffffff;
    border-radius:10px;
}

.dashboardSummaryBox div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #00000072;
    font-family: Montserrat;
    color:rgba(0, 0, 0, 0.73);
    transition: 0.3s;
    min-height: 18vh;
    width: 100%;
}

.dashboardSummaryBox div:first-child{
    border-radius: 10px 0 0 10px;
}

.dashboardSummaryBox div:last-child{
    border-radius: 0 10px 10px 0;
    border:none;
}

.dashboardSummaryBox div p:first-child{
    padding: 0.5rem 0.7rem;
    color:rgba(0, 0, 0, 0.684);
}
.dashboardSummaryBox div p:last-child{
    text-align: center;
    flex: 1;
    padding-top: 1.8rem;
}

.dashboardComponentDetails{
    display: flex;
    flex-direction:column;
    width: 100%;
}

.dashboardCompBtns{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboardCompBtns div{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.dashboardCompBtns div p{
    flex: 1;
    padding: 2rem;
    text-align: center;
    font: 300 1.1rem Lato;
    color:rgba(0, 0, 0, 0.774);
}

.dashboardCompBtns button{
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;
    background-color: #001D3D;
}

.lineChart {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 5px 10px;
    padding: 0.5rem;
    border-radius:10px;
}


@media screen and (max-width:950px) {
    .dashboardContainerContent{
        width: 90%;
    }
}

@media screen and (max-width:700px) {

    .lineChart {
        width: 100%;
    }

    .dashboardBox{
        flex-direction: column;
    }
    .dashboardContainerContent{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
}