.listContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 40vh;
    width: 100%;
}

.listContentHeadings{
    display: flex;
    background-color: #001d3d;
    padding: 1rem 5px;
    margin: 5px 0;
    color:white;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.listContentHeadings div{
    font: 300 0.9rem Lato;
    flex: 0.7;
}
.listContentHeadings div:first-child{
    flex: 1;
}
.listContentHeadings div:last-child{
    flex: 0.1;
}

.listItemList{
    flex:1;
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
}

.listItemList .emptylistDiv{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items:center;
    color:rgba(0, 0, 0, 0.575);
}


.listContent .listItemList h1{
    font: 400 1.5rem Lato;
    color:rgba(255, 255, 255, 0.544);
}

.listItems{
    display: flex;
    background-color: #003566;
    padding: 1rem 5px;
    margin-bottom: 5px;
    width: 100%;
    font-family: Lato;
}

.listItems div{
    font: 300 0.9rem Lato;
    color:white;
    flex: 0.7;
}

.listItems div:first-child{
    flex: 1;
}

.listItems div:last-child{
    flex: 0.1;
}

.listItems div svg{
    font-size: 1.2rem;
}

@media screen and (max-width:850px) {
    .listContentHeadings div{
        font: 300 0.7rem Lato;
    }

    .listItems div{
        font: 300 0.7rem Lato;
    }

    .listItems div svg{
        font-size: 1rem;
    }
}

@media screen and (max-width:600px) {
    .listContentHeadings div{
        font: 300 0.55rem Lato;
    }

    .listItems div{
        font: 300 0.55rem Lato;
    }

    .listItems div:first-child{
        font: 300 0.44rem Lato;
    }

    .listItems div svg{
        font-size: 0.8rem;
    }
}