.listContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 40vh;
    width: 100%;
}

.listContentHeadings{
    display: flex;
    background-color: #001d3d;
    padding: 1rem 5px;
    margin: 5px 0;
    color:white;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.listContentHeadings div{
    flex: 1
}


.listItemList{
    flex:1;
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
}

.listItemList .emptylistDiv{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items:center;
    color:rgba(0, 0, 0, 0.575);
}


.listContent .listItemList h1{
    font: 400 1.5rem Lato;
    color:rgba(255, 255, 255, 0.544);
}

.listItems{
    display: flex;
    background-color: #003566;
    padding: 1rem 5px;
    margin-bottom: 5px;
    width: 100%;
    font-family: Lato;
}

.listItems div{
    color:white;
    flex: 1;
}

.listItems div:nth-last-child(2){
    flex:0.1;
}

.listItems div:last-child{
    flex: 0.1;
}