.sidebarContainer{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    background:#003566;
    border-radius: 15px 0 0 15px;
}

.sidebarContainer div{
    display: flex;
    align-items:center;
    padding: 1.5rem 0.5rem;
}

.sidebarContainer div svg{
    font-size:1.5rem;
    color:white;
}

.sidebarContainer div p{
    text-decoration: none;
    color: white;
    font: 300 1.1rem Lato;
    text-align: center;
}

.sidebarContainer div:hover{
    transform: scale(1.1);
    transition: all .5s;
}

@media screen and (max-width:950px) {
    .sidebarContainer{
        width: 8%;
    }

    .sidebarContainer div p{
        display: none;
    }
}