.myOrdersListItem{
    display: flex;
    background-color: #001d3d;
    padding: 1rem 5px;
    margin-bottom: 5px;
    width: 100%;
    font-family: Lato;
}

.myOrderListLink{
    text-decoration: none;
}

.myOrdersListItem div{
    color:white;
    flex: 1;
}
