.pageNotFoundContainer {
    margin: auto;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notFoundImg{
    width: 20rem;
    height: 20rem;
  }

  .notFoundImg img{
    width: 100%;
    height: 100%;
  }

  .pageNotFoundContainer > p {
    font:300 1.3rem Montserrat;
    color:rgba(255, 255, 255, 0.616);
    margin: 1rem 0;
  }

  .pageNotFoundContainer > a {
    background-color: #003566;
    color: white;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    font: 400 1rem Montserrat;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  @media screen and (max-width: 600px) {

    .notFoundImg{
      width: 15rem;
      height: 15rem;
    }

    .pageNotFoundContainer > a {
      padding: 1rem 3rem;
      font: 400 1rem Montserrat;
      margin: 1rem;
    }
  
    .pageNotFoundContainer > p {
      margin: 1rem;
      font-size: 1rem;
    }
  }