.pageNotFoundContainer {
    margin: auto;
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notFoundError{
    font: bold 8rem Montserrat;
    color: rgba(255, 255, 255, 0.418);
  }

  .notFoundHeading{
    font: bold 1.95rem Montserrat;
    color: rgb(255, 255, 255);
  }

  .pageNotFoundContainer > p {
    font:300 1.3rem Lato;
    color:rgba(255, 255, 255, 0.616);
    margin: 1rem 0;
  }

  .pageNotFoundContainer > a {
    background-color: #003566;
    color: white;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    font: 400 1rem "Roboto";
    text-decoration: none;
    margin-top: 1rem;
  }
  
  @media screen and (max-width: 600px) {
    .PageNotFound > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }
  
    .PageNotFound > svg {
      font-size: 20vw;
    }
    .PageNotFound > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  }