.slide1{
    width: 100%;
    height: calc((100vw - 110px) * .37);
    position: relative;
    border-radius:10px;
    transition: all 0.2s;
}

.slide1-img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius:10px;
}
.slide1-btn{
    position:absolute;
    bottom: 10%;
    left: 6%;
    text-decoration: none;
    color:black;
    padding: 1rem;
    background-color: white;
    font:500 1rem Raleway;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.slide1-btn:hover{
    color:white;
    background-color:rgb(15, 0, 56);
    transition: all 0.5s;
}

@media screen and (max-width:1244px){
}