.browseContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato;
}

.browseContent{
    padding: 1rem 0;
    width: 80%;
    display: flex;
    justify-content: center;
}
.browseContent-active{
    padding-top: 6rem;
}

.filterBox h1{
    color:rgba(255, 255, 255, 0.877);
}

.filterHeading{
    display: flex;
    border-bottom:1px solid white;
}
.filterHeading svg{
    color:white;
}

.searchResultBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    padding-left: 1rem;
}
.searchResultBox h1{
    color:  rgba(255, 255, 255, 0.877);
    margin: 0.5rem;

}

.searchResults{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.filterBox{
    display: flex;
    flex-direction: column;
    background-color:#003566;
    padding: 1rem;
    border-radius:10px;
    gap: 1rem;
    width: 20%;
}

.filterBox h1{
    color:rgba(255, 255, 255, 0.763);
    font: 300 1.5rem Lato;
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}

.filterBox div h1{
    font: 300 1.2rem Lato;
    padding: 0 0 10px 0 ;
    border:none;
}

.filterContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.paginationBox{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1rem;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    background-color: rgb(230, 230, 230);
    list-style: none;
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-link{
    text-decoration: none;
    font: 300 .9rem Lato;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}
.page-link svg{
    text-decoration: none;
    font: 300 .9rem Lato;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}


.pageItemActive{
    background-color:#003566;
}

.pageLinkActive{
    color: rgb(255, 255, 255);
}

.genreBox{ 
    position: relative;
}

.genreList{
  overflow-y: scroll;
  position: absolute;
  height: 300px;
  background-color:#0f54948c;
  z-index: 1;
}

.genreItem{
    list-style: none;
    color:rgba(230, 230, 230, 0.795);
    font: 400 1rem Lato;
    cursor:pointer;
    transition: all 0.5s;
    padding: 0.5rem;
}

.genreItem:hover{
    background-color:#0084ff88;
}

.genreBtn{
    background-color:white;
    border-radius:15px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;
}
.genreBtn svg{
    font-size:1.2rem;
}

.noProducts{
    font: 400 1.3vmax Lato;
    text-align: center;
    color: rgb(255,255,255,0.548);
    padding: 0.5rem;
}

.keywordBox{
    font: 300 1rem Montserrat;
    background-color: #003566;
    color: rgba(255, 255, 255, 0.829);
    padding: 0.5rem;
    border-radius: 25px;
    display: flex;
    gap: 1rem;
    margin: 8px;
    width: fit-content;
}
.keywordBox svg{
    font-size: 1.2rem;
}

.genreHeading{
    display: flex;
    gap: 1rem;
}

.genreCaret{
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:6px solid rgb(253, 252, 252);
    transition: 0.3s;
    margin-top: 5px;
    display: none;
}

.genreCaret-active{
    transform: rotate(180deg);
}


@media screen and (max-width:1024px) {
    .browseContent{
        width: 90%;
        flex-direction: column;
    }
    .searchResultBox{
        width: 100%;
        padding: 0;
    }

    .searchResults{
        justify-content: center;
    }

    .filterBox{
        width: 100%;
    }

    .filterContent{
        flex-direction: row;
    }

    .filterContent div{
        flex: 1;
    }

    .genreHeading div{
        flex:0;
    }

    .genreCaret{
        display: block;
    }

    .genreList{
        overflow-y: scroll;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color:#001d3d;
        display: none;
      }
}

.genreList-active{
    display: block;
}