.browseContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato;
}

.browseContent{
    padding: 1rem 0;
    width: 80%;
    display: flex;
    justify-content: center;
}
.browseContent-active{
    padding-top: 6rem;
}

.filterBox h1{
    color:rgba(255, 255, 255, 0.877);
}

.searchResultBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}
.searchResultBox h1{
    color:  rgba(255, 255, 255, 0.877);
    margin: 0 0 2.5rem 2.5rem;
}

.searchResults{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.filterBox{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    background-color: rgb(230, 230, 230);
    list-style: none;
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-link{
    text-decoration: none;
    font: 300 0.7vmax Lato;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}


.pageItemActive{
    background-color:#003566;
}

.pageLinkActive{
    color: rgb(255, 255, 255);
}

.genreBox{
    padding: 0;
    height: 300px;
    overflow-y: scroll;
}

.genreItem{
    list-style: none;
    color:rgba(230, 230, 230, 0.795);
    font: 400 0.9rem Lato;
    margin: 0.5vmax;
    cursor:pointer;
    transition: all 0.5s;
}

.genreBtn{
    background-color:white;
    border-radius:15px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.genreBtn svg{
    font-size:1.2rem;
}

.noProducts{
    font: 400 1.3vmax Lato;
    text-align: center;
    color: rgb(255,255,255,0.548);
}

@media screen and (max-width:1024px) {
    .browseContent{
        flex-direction: column;
    }
    .filterBox{
        width: 100%;
        flex: 1;
        flex-direction: row;
        gap: 1rem;
    }
    .genreBox{
        width: 100%;
        position: absolute;
    }
}