.productCard {
    width: 18rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.808);
    margin: 0.5rem;
  }
  
  .productCard > img {
    width: 18rem;
  }
  
  .productCard > p {
    font-family: Lato;
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: #1c88ed;
    font-family: Lato;
    font-size: 1vmax;
  }